# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller folders
build/
dist/
*.spec

# Application logs
*.log

# Editor directories and files
.vscode/
.idea/
*.swp
*.suo

# System files
.DS_Store
Thumbs.db
